.venv
# --- Structurizr ---
# Ignorar la carpeta de cache, logs e indices locales
.structurizr/

.structurizr-lite/

workspace.json
# Carpeta de caché
__pycache__/
**/__pycache__/

# Archivos compilados de Python
*.py[cod]

# Caché de tests
.pytest_cache/
# Entornos virtuales
venv/
.env/
.env
.venv/
.envrc